.adminpage {
    position: fixed;
    display: flex;
    z-index: 2;
    background: #1A1918;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminpage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminpage__content h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 95px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 1rem;
}

.adminpage__content button {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 22px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 1rem 3rem;
    cursor: pointer;
    margin-bottom: 0.8rem;
    border: 2px solid #0D0D0C;
    border-radius: 3rem;
    min-width: 22rem;
    max-width: 22rem;
}

.adminpage__content button:hover {
    background: #262625;
}

@media screen and (max-width: 700px) {
    .adminpage .profile h3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .adminpage__content button {
        font-size: 18px;
        min-width: 18.7rem;             
    }

    .adminpage__content h1 {        
        font-size: 80px;                
    }    
}

@media screen and (max-width: 500px) {
    .adminpage__content button {
        font-size: 16px;
        min-width: 17.5rem; 
    }

    .adminpage__content h1 {        
        font-size: 65px;        
    }        
}

@media screen and (max-width: 400px) {
    .adminpage__content button {
        font-size: 12px;
        min-width: 14.5rem;
        max-width: 14.5rem; 
    }

    .adminpage__content h1 {        
        font-size: 60px;        
    }
}