.userpage {
    position: fixed;
    display: flex;
    z-index: 1;
    background: #1A1918;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userpage h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 170px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 3rem;
}

.userpage__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userpage__content button {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 65px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 3rem 6rem;
    cursor: pointer;    
    border: 2px solid #0D0D0C;
    border-radius: 3rem;
}

.userpage__content button:hover {
    background: #262625;
}

@media screen and (max-width: 1000px) {
    .userpage h1 {
        font-size: 140px;       
    }    
    
    .userpage__content button {
        font-size: 50px;
    }
}

@media screen and (max-width: 800px) {
    .userpage h1 {
        font-size: 120px;        
    }    
    
    .userpage__content button {
        font-size: 40px;
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 700px) {
    .userpage h1 {
        font-size: 100px;
        margin-bottom: 2rem;         
    }    
    
    .userpage__content button {
        font-size: 30px;
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 600px) {
    .userpage h1 {
        font-size: 90px;        
    }    
    
    .userpage__content button {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 500px) {
    .userpage h1 {
        font-size: 75px; 
        margin-bottom: 1rem;        
    }    
    
    .userpage__content button {
        font-size: 25px;
        padding: 1.5rem 2.5rem;
    }
}

@media screen and (max-width: 400px) {
    .userpage h1 {
        font-size: 60px;        
    }    
    
    .userpage__content button {
        font-size: 20px;
        padding: 1rem 2rem;
    }
}