.orderoverlay {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1.5px solid #0D0D0C;
    background: #1A1918;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 75vw;
    z-index: 2;
    padding: 4rem 6rem; 
}

.orderoverlay h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;    
    color: #FEDF33;
    margin-bottom: 2rem;
}

.orderoverlay p {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.04em;    
    color: #FEDF33;
    max-width: 20rem;
}

.orderoverlay label {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;    
    color: #FEDF33;
    margin-bottom: 0.5rem;
}

.orderoverlay button {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 2rem;
    border: 2px solid #0D0D0C;
    border-radius: 1.5rem;
    min-width: 8rem;
}

.orderoverlay button:hover {
    background: #262625;
}

.orderoverlay button:disabled {
    cursor: default;
    opacity: 0.7;
}

.orderoverlay button:disabled:hover {
    background: #141413;
}

.orderoverlay__ordertobacco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderoverlay__ordertobacco-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1rem;
    min-width: 23rem;
    height: 20px;
    background: #141413;
    border: 0.1px solid black;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FEDF33;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FEDF33;
    cursor: pointer;
}

.orderoverlay__currentbowl {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #0D0D0C;
    background: #141413;
    padding: 1rem 2rem;
}

.orderoverlay__currentbowl-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.orderoverlay__currentbowl-image img {
    width: 15rem;
}

.orderoverlay__currentbowl-image_progress {
    position: absolute;
    top: 0.89rem;
    right: 1.2rem;
    width: 87.54%;
}

.close {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FEDF33;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: #FFEF99;
}