.statsoverlay {
    display: flex;
    box-sizing: border-box;
    border: 1.5px solid #0D0D0C;
    background: #1A1918;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 19rem;
    z-index: 3;
    padding: 2rem 3rem;
}

.statsoverlay p {
    font-family: 'Trebuchet MS';
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
}

.statsoverlay h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {  
    .statsoverlay {
        width: 22.5rem;
    }

    .statsoverlay p {
        font-size: 15.5px;
    }
}

@media screen and (max-width: 500px) {  
    .statsoverlay {
        width: 19.5rem;
        height: 18rem;
        padding: 2rem 1.5rem;
    }  
}

@media screen and (max-width: 400px) {  
    .statsoverlay {
        width: 18rem;
    }

    .statsoverlay p {
        font-size: 14px;
    }
}