.statsoverlay {
    display: flex;
    box-sizing: border-box;
    border: 1.5px solid #0D0D0C;
    background: #1A1918;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vw;
    min-height: 35vh;
    z-index: 3;
    padding: 2rem 3rem;
}

.statsoverlay p {
    font-family: 'Trebuchet MS';
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
}

.statsoverlay h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1300px) {
    .statsoverlay p {
        font-size: 17px; 
        line-height: 150%;
    }
}

@media screen and (max-width: 1050px) {  
    .statsoverlay {
        max-width: 36.5vw;
        min-width: 36.5vw;
    }
}

@media screen and (max-width: 850px) {  
    .statsoverlay {
        max-width: 42vw;
        min-width: 42vw;
    }
}

@media screen and (max-width: 750px) {  
    .statsoverlay {
        max-width: 48vw;
        min-width: 48vw;
    }
}

@media screen and (max-width: 650px) {  
    .statsoverlay {
        max-width: 57.5vw;
        min-width: 57.5vw;
    }
}

@media screen and (max-width: 550px) {  
    .statsoverlay {
        max-width: 67vw;
        min-width: 67vw;
    }

    .statsoverlay p {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {  
    .statsoverlay {
        max-width: 75vw;
        min-width: 75vw;
        padding: 2rem 1.5rem;
    }

    .statsoverlay p {
        font-size: 15px;
    }
    
    .statsoverlay h1 {
        font-size: 38px;
    }    
}