.securityoverlay {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #0D0D0C;
    background: #1A1918;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16vw;
    height: 11rem;
    z-index: 4;
    padding: 2rem 2rem; 
}

.securityoverlay h2 {
    font-family: 'Trebuchet MS';
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.04em;    
    color: #FEDF33;
    margin-bottom: 1rem;
    min-width: 9rem;
}

.securityoverlay p {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 11px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    color: red;   
    text-align: center; 
    min-width: 10rem;
}

.securityoverlay input {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFEB80;
    background: #262625;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;    
    padding: 0.5rem 0.5rem;    
    text-align: start;
    margin-bottom: 0.5rem;
}

.securityoverlay button {
    font-family: 'Trebuchet MS';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 0.3rem 0.9rem;
    cursor: pointer;
    border: 2px solid #0D0D0C;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
}

.securityoverlay button:hover {
    background: #262625;
}

@media screen and (max-width: 1500px) {  
    .securityoverlay {
        width: 18vw;
    }
}

@media screen and (max-width: 1300px) {  
    .securityoverlay {
        width: 19vw;
    }
}

@media screen and (max-width: 1200px) {  
    .securityoverlay {
        width: 22vw;
    }
}

@media screen and (max-width: 1100px) {  
    .securityoverlay {
        width: 23vw;
    }
}

@media screen and (max-width: 1000px) {  
    .securityoverlay {
        width: 25vw;
    }
}

@media screen and (max-width: 900px) {  
    .securityoverlay {
        width: 28vw;
    }
}

@media screen and (max-width: 800px) {  
    .securityoverlay {
        width: 33vw;
    }
}

@media screen and (max-width: 700px) {  
    .securityoverlay {
        width: 39vw;
    }
}

@media screen and (max-width: 600px) {  
    .securityoverlay {
        width: 46vw;
    }
}

@media screen and (max-width: 500px) {  
    .securityoverlay {
        width: 55vw;
    }
}

@media screen and (max-width: 400px) {  
    .securityoverlay {
        width: 65vw;
    }

    .securityoverlay input {
        width: 11rem;
        margin-bottom: 0.1rem;
    }
}