.home {
    display: flex;
    background: #1A1918;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 170px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 5rem;
}

.home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__content button {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 80px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 3rem 9rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border: 2px solid #0D0D0C;
    border-radius: 3rem;
    min-width: 39rem;
}

.home__content button:hover {
    background: #262625;
}

@media screen and (max-width: 1100px) {
    .home h1 {        
        font-size: 130px;        
    }

    .home__content button {        
        font-size: 50px; 
        margin-bottom: 3rem; 
        min-width: 31rem;      
    }
}

@media screen and (max-width: 800px) {
    .home h1 {        
        font-size: 90px; 
        margin-bottom: 4rem;        
    }

    .home__content button {        
        font-size: 27px; 
        padding: 2rem 6rem;
        min-width: 20rem;               
    }
}

@media screen and (max-width: 600px) {
    .home h1 {        
        font-size: 75px;              
    }

    .home__content button {        
        font-size: 23px; 
        padding: 1.5rem 4rem;
        min-width: 15rem;  
        margin-bottom: 2rem;             
    }
}

@media screen and (max-width: 500px) {
    .home h1 {        
        font-size: 65px;               
    }

    .home__content button {        
        font-size: 22px; 
        padding: 1rem 4rem;
        min-width: 14rem;                      
    }
}

@media screen and (max-width: 400px) {
    .home h1 {        
        font-size: 57px;               
    }

    .home__content button {        
        font-size: 18px; 
        padding: 1rem 1rem;
        min-width: 10rem;  
        max-width: 10rem;                    
    }
}