.adminorders {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A1918;
    padding: 2rem 4rem;
    min-height: 100vh;
}

.adminorders h1 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 100px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 3rem;
}

.adminorders__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adminorders__content p {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;  
    text-align: center;
    letter-spacing: 0.04em;
    color: #FEDF33; 
}

.adminorders__content-table {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 1rem 1.5rem;
    height: 21rem;
    min-width: 45rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.adminorders__content-table::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
    .adminorders h1 {        
        font-size: 90px;  
        margin-bottom: 2rem;      
    }

    .adminorders__content-table {
        min-width: 35rem;     
        max-width: 35rem;
        height: 18rem;      
    }

    .adminorders .hookahbowl {
        min-height: 12rem;  
    }

    .adminorders .hookahbowl__content {      
        padding: 0.5rem 0 0 0;        
    }
    
    .adminorders .hookahbowl__content span {        
        font-size: 12px;        
    }

    .adminorders .hookahbowl__image img {
        width: 10rem;  
    }

    .adminorders .hookahbowl__image-progress {
        top: 23px;
        right: 0.8rem;          
    }

    .adminorders .hookahbowl__contentrow {        
        margin-bottom: 0.5rem;
    }

    .adminorders .hookahbowl button {        
        font-size: 15px;        
        padding: 0.5rem 1rem;        
        border-radius: 1.5rem;               
        bottom: 0.5rem;
        right: 0.5rem;
    } 
}

@media screen and (max-width: 750px) {  
    .adminorders h1 {        
        font-size: 85px;        
    }

    .adminorders__content-table {
        min-width: 30rem;     
        max-width: 30rem;              
    } 
}

@media screen and (max-width: 600px) { 
    .adminorders h1 {        
        font-size: 75px; 
    }

    .adminorders__content-table {
        min-width: 25rem;     
        max-width: 25rem;  
        height: 17rem;    
    }

    .adminorders .hookahbowl {
        min-height: 11.5rem;  
    }

    .adminorders .hookahbowl__content span {        
        font-size: 10px;        
    }

    .adminorders .hookahbowl__image img {
        width: 7rem;  
    }

    .adminorders .hookahbowl__image-progress {
        top: 40.8px;
        right: 9px;          
    }

    .adminorders .hookahbowl button {        
        font-size: 11px;     
    } 

    .adminorders .profile {
        right: 1rem;
    }
    
    .adminorders .profile h3 {
        display: none;
    }
}

@media screen and (max-width: 500px) {  
    .adminorders h1 {        
        font-size: 65px;                
    }

    .adminorders__content-table {
        min-width: 20rem;     
        max-width: 20rem;  
        padding: 1rem 0.6rem;
    }

    .adminorders .hookahbowl__content {     
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .adminorders .hookahbowl__content span {    
        line-height: 110%;       
    }

    .adminorders .hookahbowl__image img {
        width: 6rem;  
    }

    .adminorders .hookahbowl__image-progress {
        top: 48.1px;
        right: 8.2px;          
    }

    .adminorders .hookahbowl button {        
        font-size: 10px;            
    }    
}

@media screen and (max-width: 400px) {  
    .adminorders h1 {        
        font-size: 62px;                
    }

    .adminorders__content-table {
        min-width: 16.8rem;     
        max-width: 16.8rem;  
        height: 18rem;        
    }

    .adminorders .hookahbowl {
        min-height: 13rem;
        max-height: 13rem;
    }

    .adminorders .hookahbowl__content span {    
        font-size: 8.5px;       
    }

    .adminorders .hookahbowl__image img {
        width: 5.7rem;  
    }

    .adminorders .hookahbowl__image-progress {
        top: 62px;
        right: 7.9px;          
    }

    .adminorders .hookahbowl button {        
        font-size: 9px;            
    }    

    .adminorders .hookahbowl__contentrow-color1 {
        width: 0.8rem;
        height: 0.8rem;
    }
    
    .adminorders .hookahbowl__contentrow-color2 {
        width: 0.8rem;
        height: 0.8rem;
    }
    
    .adminorders .hookahbowl__contentrow-color3 {
        width: 0.8rem;
        height: 0.8rem;
    }
    
    .adminorders .hookahbowl__contentrow-color4 {
        width: 0.8rem;
        height: 0.8rem;
    }
    
    .adminorders .hookahbowl__contentrow-color5 {
        width: 0.8rem;
        height: 0.8rem;
    }
}