.loginoverlay {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #0D0D0C;
    background: #1A1918;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    height: 20rem;
    z-index: 3;
    padding: 4rem 6rem; 
}

.loginoverlay h2 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;    
    color: #FEDF33;
    margin-bottom: 1rem;
}

.loginoverlay p {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 11px;
    line-height: 125%;    
    letter-spacing: 0.04em;
    color: red;   
    text-align: center; 
    max-width: 15.5rem;
}

.loginoverlay input {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FEDF33;
    background: #262625;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;    
    padding: 1rem 1rem;    
    text-align: start;
    margin-bottom: 1rem;
    max-width: 12rem;
}

.loginoverlay button {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 2px solid #0D0D0C;
    border-radius: 1.5rem;
    margin-top: 0.2rem;
}

.loginoverlay button:hover {
    background: #262625;
}

@media screen and (max-width: 800px) {
    .loginoverlay {
        width: 50vw;
        padding: 4rem 4rem; 
    }
}

@media screen and (max-width: 600px) {
    .loginoverlay {
        width: 60vw;        
    }
}

@media screen and (max-width: 500px) {
    .loginoverlay {
        width: 70vw;        
    }
}

@media screen and (max-width: 400px) {
    .loginoverlay {
        width: 80vw;        
    }
}