.registeroverlay {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #0D0D0C;
    background: #1A1918;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    height: 33rem;
    z-index: 3;
    padding: 4rem 5rem; 
}

.registeroverlay h2 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;    
    color: #FEDF33;
    margin-bottom: 1rem;
}

.registeroverlay p {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 11px;
    line-height: 125%;    
    letter-spacing: 0.04em;
    color: red;   
    text-align: center; 
    max-width: 15.5rem;
}

.registeroverlay input {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FEDF33;
    background: #262625;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;    
    padding: 1rem 1rem;    
    text-align: start;
    margin-bottom: 0.8rem;
    max-width: 12rem;
}

.registeroverlay button {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 2px solid #0D0D0C;
    border-radius: 1.5rem;
    margin-top: 0.2rem;
}

.registeroverlay button:hover {
    background: #262625;
}

.registeroverlay__admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registeroverlay__admin label {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    color: #FEDF33; 
    margin-right: 0.5rem; 
    margin-bottom: 0.3rem;
    text-align: start; 
}

@media screen and (max-width: 800px) {
    .registeroverlay {
        width: 50vw;
        padding: 4rem 3rem; 
    }
}

@media screen and (max-width: 600px) {
    .registeroverlay {
        width: 60vw;        
    }
}

@media screen and (max-width: 500px) {
    .registeroverlay {
        width: 70vw;        
    }

    .registeroverlay__admin label {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .registeroverlay {
        width: 86vw;        
    }

    .registeroverlay__admin label {
        font-size: 17px;
    }
}