.adminlibrary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #1A1918;
}

.adminlibrary__filter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 2px solid #0D0D0C;
    padding: 1.5rem 3rem;
    max-height: 100vh;
    overflow-y: auto;
}

.adminlibrary__filter h2 {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
    margin-bottom: 0.8rem;  
}

.adminlibrary__filter button {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    border: 2px solid #0D0D0C;
    border-radius: 1.5rem;
}

.adminlibrary__filter button:hover {
    background: #262625;
}

.adminlibrary__filter-instock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    background: #141413;
}

.adminlibrary__filter-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    background: #141413;
}

.adminlibrary__filter-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    background: #141413;
}

.adminlibrary__filter-boolean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    background: #141413;
}

.adminlibrary__filter-checkbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.4rem;
}

.adminlibrary__filter-checkbox_instock {
    display: flex;
    flex-direction: row;
}

.adminlibrary__filter-checkbox label,
.adminlibrary__filter-checkbox_instock label {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;    
    letter-spacing: 0.04em;
    color: #FEDF33; 
    margin-left: 0.5rem;
    text-align: start; 
}

.adminlibrary__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5rem;
    min-height: 100vh;
    padding: 4rem 6rem;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
}

.adminlibrary__content p {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
    margin-bottom: 0.8rem;  
}

.adminlibrary__filter::-webkit-scrollbar,
.adminlibrary__content::-webkit-scrollbar {
  display: none;
}

.profile {
    position: fixed;
    top: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.profile h3 {
    font-family: 'Trebuchet MS';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
}

.profile:hover h3 {
    color: #FFEF99;
    text-decoration: underline;
}

.profileicon {
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    color: #FEDF33;
}

.profile:hover .profileicon {
    color: #FFEF99;
}