.tobacco2 {
    display: flex;
    flex-direction: row;
}

.tobacco2 img {
    width: 12rem;  
    height: 16rem;  
    box-sizing: border-box;
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;  
    object-fit: cover;  
}

.tobacco2__content {
    display: flex;
    flex-direction: column;
    background: #141413;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem 1rem;
    width: 14rem;
}

.tobacco2__content h2 {
    font-family: 'Trebuchet MS';
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: start;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 1rem;
}

.tobacco2__content h3 {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: start;
    letter-spacing: 0.04em;
    color: #FEDF33;
    margin-bottom: 1rem;
}

.tobacco2__content h4 {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;    
    letter-spacing: 0.04em;
    color: #FEDF33;
}