.library {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #1A1918;
}

.library__filter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 2px solid #0D0D0C;
    padding: 1.5rem 3rem;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.library__filter h2 {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
    margin-bottom: 0.8rem;  
}

.library__filter button {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FEDF33;
    background: #141413;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    border: 2px solid #0D0D0C;
    border-radius: 1.5rem;
}

.library__filter button:hover {
    background: #262625;
}

.library__filter-instock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    background: #141413;
}

.library__filter-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    background: #141413;
}

.library__filter-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    background: #141413;
}

.library__filter-boolean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    border: 2px solid #0D0D0C;
    padding: 1rem 1.5rem;
    background: #141413;
}

.library__filter-checkbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.4rem;
}

.library__filter-checkbox_instock {
    display: flex;
    flex-direction: row;
}

.library__filter-checkbox label,
.library__filter-checkbox_instock label {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;    
    letter-spacing: 0.04em;
    color: #FEDF33; 
    margin-left: 0.5rem;
    text-align: start; 
}

.library__content {    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5rem;
    min-height: 100vh;
    padding: 4rem 6rem;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.library__content h5 {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;    
    letter-spacing: 0.04em;
    color: #FEDF33;  
    margin-bottom: 0.8rem;  
}

.library__filter::-webkit-scrollbar,
.library__content::-webkit-scrollbar {
  display: none;
}

.showfilters {
    display: none;
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #FEDF33;
    font-size: 23px;
}

@media screen and (max-width: 1760px) {  
    .library__content {        
        grid-template-columns: repeat(4, 1fr);  
        grid-gap: 6rem; 
        padding: 4rem 3rem;             
    }
}

@media screen and (max-width: 1500px) {    
    .library__content {        
        grid-template-columns: repeat(3, 1fr);                      
    }
}

@media screen and (max-width: 1200px) {  
    .library__content {        
        grid-template-columns: repeat(2, 1fr);                              
    }
}

@media screen and (max-width: 910px) {    
    .library .profile {        
        right: 1rem;        
    }

    .library .profile h3 {
        display: none; 
    }

    .library__filter {
        display: none;
    }

    .showfilters {
        display: flex;
    }

    .library {
        justify-content: center;
    }

    .library__content {        
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 5rem;                              
    }
}

@media screen and (max-width: 830px) {   
    .library__content {        
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 6rem;                              
    }
}

@media screen and (max-width: 570px) {    
    .library__content {        
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 5rem;                                   
    }    
}